# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# PyInstaller
*.spec
*.manifest

# Project specific
settings.json
DouK-Downloader.db
Cache/
*.log
installer/
tool/
fonts/
src/gui_edition/assets/*.svg
src/gui_edition/assets/*.png
*.mp4
*.mp3
*.zip
*.7z
Volume/
